In [19]:
import pandas as pd
from datetime import datetime

In [20]:
df = pd.read_csv('../data/bandcamp-sales.csv')
df.head()

,Unnamed: 0,_id,art_url,item_type,utc_date,country_code,track_album_slug_text,country,slug_type,amount_paid_fmt,...,amount_paid,releases,artist_name,currency,album_title,amount_paid_usd,package_image_id,amount_over_fmt,item_slug,addl_count
0,0,1599688803.5175&//girlbanddublin.bandcamp.com/...,https://f4.bcbits.com/img/a0206405257_7.jpg,a,1.599689e+09,gb,NaN,United Kingdom,a,$9.99,...,9.99,NaN,Girl Band,USD,NaN,9.99,NaN,NaN,NaN,NaN
1,1,1599688805.27838&//maharettarecords.bandcamp.c...,https://f4.bcbits.com/img/a2984241552_7.jpg,a,1.599689e+09,fi,NaN,Finland,a,£1,...,1.00,NaN,Jirah,GBP,NaN,1.30,NaN,NaN,NaN,NaN
2,2,1599688805.90646&//maharettarecords.bandcamp.c...,https://f4.bcbits.com/img/a3320494770_7.jpg,a,1.599689e+09,fi,NaN,Finland,a,£3,...,3.00,NaN,D-Ther,GBP,NaN,3.90,NaN,NaN,NaN,NaN
3,3,1599688806.94234&//alicesitski.bandcamp.com/al...,https://f4.bcbits.com/img/0020476345_37.jpg,p,1.599689e+09,gb,NaN,United Kingdom,a,€10.50,...,10.50,NaN,WHITE NOISE TV,EUR,WHITE NOISE TV,12.39,20476345.0,NaN,NaN,NaN
4,4,1599688809.07942&//linguaignota.bandcamp.com/t...,https://f4.bcbits.com/img/a3428873396_7.jpg,t,1.599689e+09,us,NaN,United States,t,$1,...,1.00,NaN,LINGUA IGNOTA,USD,NaN,1.00,NaN,NaN,NaN,NaN

In [3]:
df.shape

(1000000, 24)

In [4]:
df.describe()

,Unnamed: 0,utc_date,item_price,art_id,amount_paid,releases,amount_paid_usd,package_image_id,addl_count
count,1000000.000000,1.000000e+06,1000000.000000,7.645200e+05,1000000.000000,11584.000000,1000000.000000,2.327080e+05,21742.000000
mean,499999.500000,1.600750e+09,15.475516,2.141628e+09,17.899412,31.063536,8.931315,1.977005e+07,1.462147
std,288675.278932,6.049259e+05,121.719962,1.241930e+09,143.261461,70.861927,12.490078,3.541261e+06,1.006632
min,0.000000,1.599689e+09,0.000000,2.018000e+04,0.200000,3.000000,0.200000,1.048130e+05,1.000000
25%,249999.750000,1.600237e+09,1.000000,1.057849e+09,2.000000,5.000000,2.000000,1.958274e+07,1.000000
50%,499999.500000,1.600778e+09,5.000000,2.137613e+09,5.600000,10.000000,6.000000,2.138429e+07,1.000000
75%,749999.250000,1.601288e+09,10.000000,3.228946e+09,10.000000,22.000000,11.630000,2.166676e+07,2.000000
max,999999.000000,1.601647e+09,29760.000000,4.294959e+09,50000.000000,1078.000000,1286.260000,2.185090e+07,22.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 25 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1000000 non-null  int64
 1   _id                    1000000 non-null  object
 2   art_url                1000000 non-null  object
 3   item_type              1000000 non-null  object
 4   utc_date               1000000 non-null  float64
 5   country_code           1000000 non-null  object
 6   track_album_slug_text  2237 non-null     object
 7   country                1000000 non-null  object
 8   slug_type              988416 non-null   object
 9   amount_paid_fmt        1000000 non-null  object
 10  item_price             1000000 non-null  float64
 11  item_description       999994 non-null   object
 12  art_id                 764520 non-null   float64
 13  url                    1000000 non-null  object
 14  amount_paid            1000000 non-null  float64
 15  releases               11584 non-null    float64
 16  artist_name            999998 non-null   object
 17  currency               1000000 non-null  object
 18  album_title            356468 non-null   object
 19  amount_paid_usd        1000000 non-null  float64
 20  package_image_id       232708 non-null   float64
 21  amount_over_fmt        119133 non-null   object
 22  item_slug              21742 non-null    object
 23  addl_count             21742 non-null    float64
 24  sales_date             1000000 non-null  object
dtypes: float64(8), int64(1), object(16)
memory usage: 190.7+ MB

In [21]:
df['sales_date'] = df['utc_date'].apply(lambda x: datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))  
# pd.to_datetime(df['utc_date'], format='%Y%m%d %H:%M:%S')
df['sales_date'].head()

0    2020-09-10 01:00:03
1    2020-09-10 01:00:05
2    2020-09-10 01:00:05
3    2020-09-10 01:00:06
4    2020-09-10 01:00:09
Name: sales_date, dtype: object